::-webkit-scrollbar {
  width: 6px; /* vertical */
  height: 6px; /* horizontal */
}

::-webkit-scrollbar-track {
  background-color: theme('colors.white');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.ellablue.darker');
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.ellablue.darkest');
}
